

body{
    background-color: #b0c4de;
    text-align: center;
   border-radius: 50PX;
   
    
    max-width: 736px;
    margin-inline: auto;
    margin-block: 64px;
    padding: 40px;
    border-radius: 24px;
  
}

button{
    color: blue;
   padding:  10px;
   border: 10px;
   text-align: center;
   border-radius: 10PX;
}

h1{
    padding: 20px;
}

form{
    padding:  10px;
   
   border-radius: 10PX;
}
div{
    padding:  10px;
  
   border-radius: 10PX;
}
label{
    padding: 5px;
  
   border-radius: 10PX;
}

select{
    padding: 5px;
    border-radius: 50PX;
}
input{
    border-radius: 10px;
}


 
  
  
  div img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 40px;
    text-align: center;
  }
  

  

 